 <% include ../partials/header %>
  <body>
    <div class="jumbotron">
        <img src="/images/image1.jpeg"  alt="test">

      <h1 class="display-4"><%=  competitor.name%> </h1>
      <p class="lead"> <%= `WINS ${record.wins}` %>  </p>
      <p class="lead"> <%= `LOSSES: ${record.losses}` %> </p>
      <p class="lead"> <%= ` DRAWS: ${record.draws}` %> </p>

      <hr class="my-4">
      <p> <%= `Fighting out of: ${information.fighting_out_of_city}` %> </p>
      <p> <%= `Born in: ${information.birth_city}` %> </p>
      <a class="btn btn-primary btn-lg" href="/" role="button">BACK</a>
    </div>
  </body>
</html>
