 <% include ../partials/header %>
  <body>
    <h1> <%=  "NAME:" + competitor.name %> </h1>
    <h1> <%=  "BORN IN:" + information.birth_city %> </h1>
    <h1> <%=  "FIGHTING OUT OF :" + information.fighting_out_of_city %> </h1>
    <h1> <%=  "WINS:" + record.wins %> </h1>
    <h1> <%=  "DRAWS:" + record.draws %> </h1>
    <h1> <%=  "LOSSES:" + record.losses %> </h1>



    
  </body>
</html>
